/* Modal.css */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal.open {
    display: block;
  }
  
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 70%;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px; /* 닫기 버튼 아이콘 크기 조절 */
    line-height: 1; /* 닫기 버튼 아이콘을 수직 가운데 정렬 */
  }

  /* 입력 창 스타일 */
.phonenum-box1 {
    width: 35%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
  }
  /* 입력 창에 포커스가 갔을 때 스타일 */
  .phonenum-box1:focus {
    border-color: #ff8c00;
    box-shadow: 0 0 5px #ff8c00;
  }
  @media only screen and (max-width: 768px) {
    .phonenum-box1 {
     width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    }
}
  
  .id-input-box1 {
    width: 55%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
  }

/*///////////////////////////*/
@media only screen and (min-width: 770px) {
	.id-input-box1 {
		width: 20%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
	}
}
	
@media only screen and (max-width: 768px) {
  .id-input-box1 {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
  }
}


  /* 입력 창에 포커스가 갔을 때 스타일 */
  .id-input-box1:focus {
    border-color: #ff8c00;
    box-shadow: 0 0 5px #ff8c00;
  }
  
  .password-change-box1 {
    width: 25%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
  }
  /* 입력 창에 포커스가 갔을 때 스타일 */
  .password-change-box1:focus {
    border-color: #ff8c00;
    box-shadow: 0 0 5px #ff8c00;
  }

  /* 입력 창 스타일 */
  .phonenum-box2 {
    width: 5%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
  }
  /* 입력 창에 포커스가 갔을 때 스타일 */
  .phonenum-box2:focus {
    border-color: #ff8c00;
    box-shadow: 0 0 5px #ff8c00;
  }

    /* 입력 창 스타일 */
.phonenum-box3 {
    width: 5%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
  }
  /* 입력 창에 포커스가 갔을 때 스타일 */
  .phonenum-box3:focus {
    border-color: #ff8c00;
    box-shadow: 0 0 5px #ff8c00;
  }