.span-shopping_delete {
	/*display: inline-block;*/
	/*border: '3px solid #ccc';*/
	position: relative;
	top: 65px; /* 원하는 Y 좌표 */
	right: 20px; /* 원하는 X 좌표 */
	width: 50px;
	height: 50px;
	/*margin-left: 160px;*/
	background-image: url('./../public/img/close_btn.png');
	background-size: contain; /* 이미지 크기 조절 */
  	background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
	cursor: pointer;
	/*border: 1px solid #ccc;*/
  }
  

.custom-checkbox {
	/* 둥글게 스타일링을 위한 스타일 */
	/*border-radius: 70%;*/
	/*border: 1px solid #000000; /* 테두리 스타일 지정 */
	width: 18px; /* 너비 지정 */
	height: 18px; /* 높이 지정 */
	display: inline-block;
	cursor: pointer; /* 마우스 오버 시 포인터 커서로 변경 */
	position: relative;
	top: -83px; /* 원하는 Y 좌표 */
	left: 10px; /* 원하는 X 좌표 */
  }
  
  .custom-checkbox:checked {
	background-color: #000000 !important; /* 체크됐을 때의 배경색 지정 */
	border-color: #d82b2b !important; /* 체크됐을 때의 테두리색 지정 */
  }